<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<div class='container'>
    <h3>How was your experience today?</h3>
        <form method = "POST">

            <button class='btn btn-default' value="1" id=1 name="rating">
                <img src="static/thumbs_down.png" title="Thumbs Down"></button>

            <button class='btn btn-default' value="2" id=2 name="rating">
                <img src="static/thumbs_side.png" title="Thumbs Sideways"></button>

            <button class='btn btn-default' value="3" id=3 name="rating">
                <img src="static/thumbs_up.png" title="Thumbs Up"></button>

        </form>

</div>

