<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type=text/javascript>
        $(document).ready(function() {
          $('#1').on('click', function() {
            $.getJSON('/background_add_1',
                function() {

            });
            return "nothing";
          });
        });
</script>

<script type=text/javascript>
        $(document).ready(function() {
          $('#2').on('click', function() {
            $.getJSON('/background_add_2',
                function() {
            });
            return "nothing";
          });
        });
</script>

<script type=text/javascript>
        $(document).ready(function() {
          $('#3').on('click', function() {
            $.getJSON('/background_add_3',
                function() {
            });
            return "nothing";
          });
        });
</script>


<div class='container'>
    <h3>How was your experience today?</h3>
        <form>

            <button class='btn btn-default' value="1" id=1>1</button>
            <button class='btn btn-default' value="2" id=2>2</button>
            <button class='btn btn-default' value="3" id=3>3</button>
        </form>

</div>

